<h1>Confirmez votre adresse e-mail</h1>

<p>
    Merci pour votre inscription.
</p>

<p>
    Cliquez sur le lien ci-dessous pour vérifier votre adresse e-mail :
</p>

<p>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>
</p>

<p>
    Ce lien expirera dans
    {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt !
</p>