
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo{
    width: 150px;
    height: 150px;
}
a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
}
li {
    list-style-type: none; /* Retire le point ou le numéro des éléments de liste */
    padding-left: 0; /* Retire le retrait par défaut pour aligner les éléments de liste */
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}



/* Barre de navegation*/

/* ===== Barre de navigation ===== */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	background-color: #f10606;
	position: sticky;
	top: 0;
}


.hamburger {
	display: none;
	font-size: 24px;
	background: rgba(255, 255, 255, 0.066);
	border: none;
	color: black;
	cursor: pointer;
	margin-left: auto;
}

/* Onglets - affichage normal (desktop) */
#navMenu {
	display: none;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
}
#navMenu.active {
	display: flex;
}

/* Responsive - écran <= 768px */
@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}

	#navMenu {
		display: none; /* cache le menu mobile par défaut */
		flex-direction: column;
		width: 100%;
		background-color: #ffffff00;
		padding: 10px;
	}

	#navMenu.active {
		display: flex; /* s'affiche quand on clique */
	}

	nav {
		flex-direction: column;
		align-items: flex-start;
	}
}

/*Fim barre de navegation*/


/*Fim header*/

/* section main*/
.cards{
    display: grid;
    border-radius: 10px;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);       
    gap: 5px;
}
.cards img{
    width: 15vw;
    height: 20vw;
}
/*Fim de setion main*/

/*div Vidio*/
.vidio{
    align-items: center;
    background-color: #f10606;
}
/*Fim d div Vidio*/

/*footeur Pied de page */
footer{
    display: flex;
    justify-content: space-between;
    background-color: #f10606;
    padding: 20px;
}
footer p{
    margin-left: 20px;
}
.social-media{
    display: flex;
    justify-content: space-between;
    margin: 0px 20%;    
}
.social-media i{
    margin-right: 10px;
}

.shoping_header i{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 17px;
}
label{
    color: green;
}
a{
    text-decoration: none;
}
