<form method="post"
      action="{{ path('app_basketP_delete', {'id': basketP.id}) }}"
      onsubmit="return confirm('{{ 'basket.delete_confirm'|trans|e('js') }}');">

    <input type="hidden"
           name="_token"
           value="{{ csrf_token('delete' ~ basketP.id) }}">

    <button class="btn" title="{{ 'basket.delete'|trans }}">
        <i class="fas fa-trash"></i>
    </button>
</form>