<form method="post" action="{{ path('app_basketP_delete', {'id': basketP.id}) }}" onsubmit="return confirm('Tem certeza de que deseja excluir este produto?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ basketP.id) }}">
    <button class="btn"><i class="fas fa-trash"></i></button>
</form>
