{% if value %}
    <a href="{{ asset('/' ~ value) }}" target="_blank" rel="noopener">
        {{ 'file.view'|trans }}
    </a>
{% else %}
    <span class="text-muted">
        {{ 'file.no_upload'|trans }}
    </span>
{% endif %}
