<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}"
 onsubmit="return confirm('Atenção: este processo não tem volta! Tem certeza de que deseja eliminar a sua conta?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">eliminar a Compta</button>
</form>
